#Configurations required to run xfs tests
CONFIG_MODULE_SIG=n
CONFIG_MODULE_SIG_ALL=n
CONFIG_SECURITY_LOADPIN=n
CONFIG_SECURITY_LOADPIN_ENFORCE=n
CONFIG_SECURITY_YAMA=n
CONFIG_SECURITY_LOCKDOWN_LSM=n
CONFIG_LOCK_DOWN_KERNEL_FORCE_NONE=n
CONFIG_LSM=""
CONFIG_SYSTEM_TRUSTED_KEYRING=n
CONFIG_SECONDARY_TRUSTED_KEYRING=n
CONFIG_VFAT_FS=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_FAT_DEFAULT_UTF8=y
